@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Prata&display=swap');

:root {
    --primary-color: #fde379;
    --black: #333333;
    --width-break:600px
}

body {
    font-family: 'Courgette', cursive;
    font-family: 'Prata', serif;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
    color: black;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

textarea {
    position: relative;
    left: 20rem;
    box-sizing: border-box;
    display: block;
    width: 53%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    margin: 1rem;
}
#output{
    position: relative;
    left: 20rem;
    border: 1px solid black;
    min-height: 15vh;
    margin-top: 2rem;
    width: 50%;
    margin: 1rem;
    overflow: scroll;
}

#btn-translate {
    position: relative;
    left: 30rem;
    box-sizing: border-box;
    width:25%;
    min-height: 10vh;
    max-height: 15vh;
    font-size: large;
    border: 1px solid var(--black);
    background-color: var(--primary-color);
}
.box{
    position: relative;
    left: 30.5rem;
    margin-top: 1rem;
}

footer {
    background-color: var(--primary-color);
    padding: 0rem 0rem;
    text-align: center;
    color: black;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}